@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        Welcome to My First MVC Application (<b>From Index View</b>)
    </div>
</body>
</html> 